.fav-badge {
  position: relative;
  margin-right: 25px;

  :hover {
    cursor: pointer;
  }
}

.fav-badge__count { 
background-color: #0ee84c;
width: 20px;
height: 20px;
  border-radius: 99px;
  position: absolute;
  top: -15%;
  right: 0%;
  left: 70%;
  bottom: 60%;

  span {
    text-align: center;
    color: white;
    width: 100%;
    font-weight: 500;
    position: absolute;
    font-size: 15px;
    user-select: none;
  }
}