.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.photo-list:after {
  content: "";
  margin: 12px;
  padding: 16px;
  width: 301px;
}