.photo-list__fav-icon {
  position: absolute; 
  top: 15px;
  left: 15px;
  cursor: pointer;
  background-color: #EEEEEE;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 100%;
  border: 0.1px solid transparent;
}

.photo-list__fav-icon-svg {
  padding: 7px;
  top: 2px;
}