.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, .5);
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 90%;
  max-width: 900px;
  overflow-y: scroll;
  border-radius: 12px;
  z-index: 1000;
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 13px;
  margin-top: 13px;
}

.photo-details-modal__images {
  margin-left: 36px;
  margin-top: 8px;
}

.photo-details-modal__image {
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  display: block;
  overflow: hidden;
}

.photo-area {
  display: flex;
  justify-content: center;
}

.photo-details-modal__image-container {
  position: relative;
  border-radius: 8px;
  max-height: 525px;
  max-width: 90%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-details-modal__top-bar {
  display: flex;
  min-width: 800px;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
  align-items: center;
  width: 90%;
  font-size: 14px;
}

.photo-details-modal__header {
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 90%;
}

.photo-details-modal__photographer-location {
  color: #838383;
  margin: 0px;
}

.photo-details-modal__photographer-name {
  margin: 0px;
}

.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 12px;
  width: 60px;
  height: 60px;
}

.photo-details-modal__photographer-info {
  font-weight: 700;
}

.photo-details-modal__similar-photos {
  font-weight: 500;
  font-size: larger;
  margin-bottom: 15px;
  margin-top: 20px;
}